@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  background-color: var(--background);
  color: var(--foreground);
}

.gradient-bg {
  background:
    linear-gradient(to bottom, #0b0b1e, #000),
    radial-gradient(ellipse at 50% 50%, rgba(51, 102, 255, 0.15) 0%, transparent 40%),
    radial-gradient(ellipse at 10% 10%, rgba(0, 0, 0, 0.1) 0%, transparent 70%);
  background-blend-mode: overlay, normal, normal;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  isolation: isolate; 
}